@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="peopleCtrl">

    <div ng-show="showList">

        <h2>
            People
        </h2>

        <hr />

        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Palindrome
                </th>
                <th>
                    Authorised
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Colours
                </th>
            </tr>
            <tbody ng-show="people.length > 0">
                <tr ng-repeat="person in people">
                    <td>
                        <a ng-click="viewPerson(person.personId)">
                            <span ng-bind="person.firstName + ' ' + person.lastName" />
                        </a>
                    </td>
                    <td>
                        <span ng-bind="person.palindrome" />
                    </td>
                    <td>
                        <span ng-class="person.isAuthorised ? 'activeText' : 'inactiveText'" ng-bind="person.isAuthorised" />
                    </td>
                    <td>
                        <span ng-class="person.isEnabled ? 'activeText' : 'inactiveText'" ng-bind="person.isEnabled" />
                    </td>
                    <td>
                        <div ng-repeat="item in person.favouriteColours" class="inlineSpan">
                            <span ng-bind="item.colour.name"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="people.length == 0">
                <tr>
                    <td colspan="7" style="text-align: center;">No people in list</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div ng-show="!showList">

        <h2>
            Update {{selectedPerson.firstName}} {{selectedPerson.lastName}}
        </h2>

        <h4>
            User Details
        </h4>

        <hr />

        <div>
            <label ng-click="switchAuth()">Authorised</label>
            <input ng-show="showAuth" ng-model="selectedPerson.isAuthorised" type="checkbox" />
            <br />
            <label ng-click="switchEnabled()">Enabled</label>
            <input ng-show="showEnabled" ng-model="selectedPerson.isEnabled" type="checkbox" />
        </div>

        <h4>
            Favourite Colours
        </h4>

        <hr />

        <div>
            <label ng-click="switchRed()">Red</label>
            <input ng-show="showRed" ng-model="selectedPerson.red" type="checkbox" />
            <br />
            <label ng-click="switchGreen()">Green</label>
            <input ng-show="showGreen" ng-model="selectedPerson.green" type="checkbox" />
            <br />
            <label ng-click="switchBlue()">Blue</label>
            <input ng-show="showBlue" ng-model="selectedPerson.blue" type="checkbox" />
        </div>

        <br />

        <button class="tertiaryButton1 smallButton" ng-click="savePerson()">Save Changes</button>
        <button class="btn-default smallButton" ng-click="goBack()">Cancel</button>

    </div>

</div>
